
{% extends "layout.html" %}
{% block content %}

<div id="div-alinha">
    <h3>Lista de Notícias</h3>

    <a id="add-link" href="/news">
        <button type="button" class="btn btn-success" style="border-color: #fff">Resumo de Notícias</button>
    </a>
    <a id="add-link" href="/read_news_G1">
        <button type="button" class="btn btn-success" style="background-color: #6E6E6E; border-color: #fff"><div id="passar_mouse">G1<div id="mostrar">Globo.com</div></button>
    </a>
    <a id="add-link" href="/read_news_FSP">
        <button type="button" class="btn btn-success" style="background-color: #6E6E6E; border-color: #fff"><div id="passar_mouse">FSP<div id="mostrar">Folha de São Paulo</div></button>
    </a>
    <a id="add-link" href="/read_news_DIA">
        <button type="button" class="btn btn-success" style="background-color: #6E6E6E; border-color: #fff"><div id="passar_mouse">DIA<div id="mostrar">O Dia</div></button>
    </a>
    <a id="add-link" href="/read_news_R7">
        <button type="button" class="btn btn-success" style="background-color: #6E6E6E; border-color: #fff"><div id="passar_mouse">R7<div id="mostrar">Portal R7</div></button>
    </a>
   
    </table>
</div>

<br>
<br>

{% endblock content %}


