
{% extends "layout.html" %}
{% block content %}

<div class="row">
<div id="div-alinha">
    <h3>Resumo das Principais Notícias do Momento</h3>

    <a id="add-link" href="/">
        <button type="button" class="btn btn-success">Voltar</button>
    </a>
    
    <table class="table-round-corner" cellspacing="0">
        <tr>
            <th>Notícias</th>
            <th>Ler no Site</th>

        </tr>
        {% for item in var %}
            <tr>
                <td><div id="passar_mouse">{{item.0}}<div id="mostrar"></div></td>

                <td id="td-ajuste"><a href="{{ item.1 }}" target="blank">
                {% if item.2 == 'G1' %}
                  <img src="static/img/G1_logo.svg" width="50" height="50">
                {% elif item.2 == 'FSP' %}
                  <img src="static/img/Folha.png" width="180" height="30">
                {% elif item.2 == 'R7' %}
                  <img src="static/img/R7_logo.svg" width="50" height="50">
                {% elif item.2 == 'DIA' %}
                  <img src="static/img/dia.png" width="100" height="30">
                {% endif %}
                </a></td>
            </tr>

        {% endfor %}
  
    </table>
</div>
</div>

<br>
<br>
<br>

{% endblock content %}


<!--
  <br>
        {% for item in var %}
        <li class="list-group-item list-group-item-light">{{ item.0 }}<br><a href="{{ item.1 }}">Ler Notícia</a> | <a href="{{ item.1 }}">Link G1</a></li>
        {% endfor %}

<br>

  <span><i class="fab fa-readme"></i></span>

  -->

